root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/main.exe"  # ← Tambah .exe
  cmd = "go build -o ./tmp/main.exe ./cmd/api/main.go"  # ← Tambah .exe
  delay = 1000
  exclude_dir = [
    "assets", 
    "tmp", 
    "vendor", 
    "testdata", 
    "database", 
    "docs",
    "storage",
    ".git"
  ]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = true
  follow_symlink = false
  full_bin = ""
  include_dir = [
    "cmd",
    "internal",
    "pkg",
    "config"
  ]
  include_ext = ["go", "tpl", "tmpl", "html"]
  include_file = []
  kill_delay = "500ms"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = true

[misc]
  clean_on_exit = true

[proxy]
  enabled = false
  proxy_port = 8090
  app_port = 8080

[screen]
  clear_on_rebuild = true
  keep_scroll = true